.placement-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.board-wrapper {
    display: flex;
    transform: rotate(45deg) rotate3d(1, -1, 0, 45deg);
    gap: 10vmin;
}

.board-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}