@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Raleway:wght@700&family=Roboto:wght@300;700&display=swap');

.login-page, .signup-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.login-wrapper, .signup-wrapper {
  display: flex;
  gap: 30px;
  transform: rotate(45deg) rotate3d(1, -1, 0, 45deg);
}

.login, .signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.login__header, .signup__header {
  padding-right: 55px;
  padding-bottom: 20px;
}

.login__login-form, .signup__signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form__inputs, .signup-form__inputs {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.login-form__input, .signup-form__input {
  display: flex;
  align-items: center;
  width: 45vw; 
  height: 10vh; 
  max-width: 550px;
  min-width: 300px;
  min-height: 50px;
  max-height: 70px;
  background-color: white;
  margin: 10px;
  box-shadow: inset 1px 1px 5px 0px #ccc;
}

.login-form__input > i, .signup-form__input > i {
  margin: 15px;
  font-size: 30px;
}

.login-form__input > input, .signup-form__input > input {
  width: 35vw;
  max-width: 450px;
  min-width: 180px;
  height: 8vh; 
  max-height: 50px;
  min-height: 30px;
  font-family: Raleway;
  font-size: 30px;
  align-self: center;
  outline: none;
  border: none;

}

.login-form__button, .signup-form__button {
  display: flex;
  align-items: center;
  background-color: white;
  width: 45vw; 
  height: 10vh; 
  max-width: 550px;
  min-width: 300px;
  min-height: 50px;
  max-height: 70px;
  border: none;
  cursor: pointer;
  margin: 10px;
}


.login-form__button > i, .signup-form__button > i {
  position: absolute;
  font-size: 30px;
  margin: 10px; 
  pointer-events: none;
}

.login-form__button > input, .signup-form__button > input {
  background-color: #2EC980;
  font-family: Raleway;
  font-size: 25px;
  width: 45vw; 
  height: 10vh; 
  max-width: 550px;
  min-width: 300px;
  min-height: 50px;
  max-height: 70px; 
  border: none;
  box-shadow: inset 1px 1px 5px 0px rgba(29, 29, 29, 0.303);
  cursor: pointer;

}

.login-form__button > input:hover, .signup-form__button > input:hover {
  background-color: #89C9AB;
}

.login__text, .signup__text {
  font-family: raleway;
  font-size: 20px;
  color: #2EC980;
}

.login__text > a:link, .signup__text > a:link {
  color: white;
}

.login__text > a:visited, .signup__text > a:visited {
  color: #89C9AB;
}

.login__error, .signup__error {
  font-family: raleway;
  font-size: 20px;
  color: #C92E2E;
}

