.opp-board-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.board {
  display: flex;
}

.grid {
  display: flex;
}

.board__column {
  display: flex;
  flex-direction: column;
}

.turn-text {
  color: #2EC980;
}

.board-text {
  width: 48vmin;
  padding-right: 4vmin;
  margin-bottom: 2vmin;
}