.placement-inventory {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.placement-inventory__button--active {
  opacity: 0.6;
  width: 50px;
  height: 50px;
}

.placement-inventory__button {
  width: 50px;
  height: 50px;
}

.placement-interactions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.inventory-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 20px;
}

.orientation-buttons {
  display: flex;
  align-items: flex-start;
  justify-content: start;
  margin-bottom: -8vmin;
  margin-right: -2vmin;
}

.asset-type-buttons {
  display: flex;
  align-items: flex-start;
  justify-content: start;
  margin-bottom: -8vmin;
  margin-right: -2vmin;
}

.button-wrapper {
  position: relative;
  left: -3vmin;
  top: -9vmin;
  margin-right: -2vmin;
  pointer-events: none;
}

.ghost-button-container {
  display: flex;
  justify-content: start;
  align-items: flex-start;

}

.ghost-button {
  width: 6vmin;
  height: 6vmin;
}