svg {
  line-height: 0;
  margin: 0;
}

div {
  margin: 0;
  line-height: 0;
}

.cell {
  height: 6vmin;
  width: 6vmin;
  margin: -1px -1px 0 0;
}

.asset-container {
  height: 100%;
  width: 100%;
  position: relative;
  bottom: 9vmin;
  right: 3vmin;
  pointer-events: none;
}


/** ANIMATION TEST **/

.asset-svg {
  animation: popUp 0.3s forwards;
  animation-timing-function: ease-in-out;
}

@keyframes popUp {
  0% { opacity: 0;}
  100% { opacity: 1;}
}